@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	@apply w-full h-full bg-green-primary bg-gradient-green-primary;
	font-family: 'RobotoRegular','Roboto','Droid Sans','Helvetica Neue','Segoe UI','Segoe','Open Sans','Helvetica','Arial',sans serif;
}
.container {
	@apply mx-auto p-4;
}
